.info_window {
  color: #0f0404;
  font-size: 1.3rem;
}

.btnsContainer {
  margin-top: .7rem;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.btnsShow {
  padding: 1rem 2rem;
  border-radius: 20px;
}