.create_call_wrapper {
  display: flex;
  justify-content: center;

  width: 20vw;
  height: 98vh;
  box-shadow: 1px 1px 10px #0f040480;
  z-index: 3;

  font-size: 1.3rem;
  padding-top: 1rem;

  color: #0F0404;
  background-color: #f4f8ff;;
}

.formService {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;

  border: 1px solid #e7e0e0;
  margin-top: 1.5rem;
  border-radius: 20px;
}

.typeSelect {
  background: none;
  color: #FFF;
  font-size: 1.3rem;
  border: 1px solid #0F0404;
  border-radius: 20px;
  padding: 0 0 0 .5rem;

  option {
    color: #0F0404;
  }
}

.inputDate {
  color: #FFF;
}